<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #bookForm="ngForm" (ngSubmit)="onInsertBook(bookForm.value)">
        <div class="form-group">
          <label for="bookTitle">Title</label>
          <input
            type="bookTitle"
            class="form-control"
            id="title"
            required
            ngModel
            name="bookTitle"
          />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            class="form-control"
            id="author"
            required
            ngModel
            name="author"
          />
        </div>
        <div class="form-group">
          <label for="genreId">Genre</label>
          <input
            class="form-control"
            id="genreId"
            type="number"
            required
            ngModel
            name="genreId"
          />
        </div>
        <div class="form-group">
          <label for="genreId">Number of Pages</label>
          <input
            class="form-control"
            id="numPages"
            type="number"
            required
            ngModel
            name="numPages"
          />
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!bookForm.valid"
        >
          Insert Book
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchBooks()">
        Fetch All Books
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="bookArray.length < 1">No books!</p>
      <ul class="list-group" *ngIf="bookArray.length >= 1">
        <li class="list-group-item" *ngFor="let book of bookArray">
          <h3>{{ book.bookTitle }}</h3>
          <p>Author: {{ book.author }}</p>
          <p>Genre: {{ book.genre }}</p>
          <p>Number of Pages {{ book.numPages }}</p>
          <div class="row">
            <button class="btn btn-primary" (click)="onEditBook()">
              Edit Book
            </button>
            <button class="btn btn-danger" (click)="onDeleteBook(book.bookId)">
              Delete Book
            </button>
          </div>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
